<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
         "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

	<!-- 1，数据库连接信息 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<!-- 2，其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<mapping resource="com/sise/internsystem/entity/User.hbm.xml" />
	<mapping resource="com/sise/internsystem/entity/Infos.hbm.xml" />
	<mapping resource="com/sise/internsystem/entity/Ticket.hbm.xml" />
	<mapping resource="com/sise/internsystem/entity/Trainpath.hbm.xml" />
	<mapping resource="com/sise/internsystem/entity/Train.hbm.xml" />
	
		

	</session-factory>
</hibernate-configuration>